#Nav1 {
    color: aqua;
}
.html {
    scroll-behavior: smooth;
}
.navbar {
    background-color:rgba(234, 243, 114, 0.726);
    font-family: sans-serif;
    color:rgba(234, 243, 114, 0.726);
}
.navbar a{
    color:#373a40;
    font-size: medium;
}
.nav-link, .navbar-brand{
    cursor: pointer;
}

.nav-link:hover{
    color:white;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-toggler-icon{
    color: #373a40;
}
header h1 {
    padding: 30px 0;
    color: aquamarine;
    background-color: azure;
}

#galeri {
    min-width: 100%;
}
#carousel img{
    height: 370px;
}

#carousel2 img{
    height: 370px;
}

#carousel3 img{
    height: 370px;
}

#footer {
    background-color: #dbf6e9;
    margin-top: 40px;
    min-width: 100%;
    padding-left: 30px;
}

#footer1 {
    margin-top: 10px;
    text-align: center;
}

#table {
    background-color: #61bdb0;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
#table h2 {
    margin-top: 10px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 15px;
}
#table h3 {
    font-size: 16px;
}
